development:
  adapter: postgresql
  encoding: unicode
  database: inv_tagger_development
  pool: 5
  username: inv_tagger
  password: inv_tagger

test:
  adapter: postgresql
  encoding: unicode
  database: inv_tagger_test
  pool: 5
  username: <%= ENV['TRAVIS'] ? 'postgres' : 'inv_tagger' %>
  password: <%= ENV['TRAVIS'] ? '' : 'inv_tagger' %>

production:
  adapter: postgresql
  encoding: unicode
  database: inv_tagger_production
  pool: 5
  username: inv_tagger
  password: inv_tagger

inv_db:
  adapter: postgresql
  database: Bodegas
  username: postgres
  password: postgres
  host: 192.168.0.15
